.aboutSection{
    background-color: #282c34;
    color: white;
    
}
.textAboutPart{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%; 
    /* border: 2px solid green; */
}
.Listado{
    /* border: 2px solid red; */
    text-align: center;
}
.UlForm{
    margin-left: -50px;
}