.Testimonials-experience {
    background-color: #282c34;
    color: white;
  }
  .containerTest {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .TestimonialsTitle{
      font-size: 2em;
  }
  
 
  .SvgContainerTest {
    height: 150px;
    width: 300px;
    transform: scaleY(-1) scaleX(-1);
  }
  .titleCardTest {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 50px;
  }
  
  .cardContainerTest p {
    font-style: italic;
  }
  
  .TestimonialDesciption{
      text-align: justify;
      width: 300px;
      margin-left: 10px;
      margin-right: 10px;
  }
  
  